version: "3.9"

services:
  app:
    build: .
    container_name: market-app
    ports:
      - "8080:8080"
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_URL=${DB_URL}
      - IMAGE_DIRECTORY=${IMAGE_DIRECTORY}